nav {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  background: #6282a3;
  /* padding: 15px; */
}
.user-nav-info {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  font-weight: bold;
  margin: 50px auto;
  min-width: max-content;
}
.user-nav-info img {
  margin-left: 50px;
}

.user-nav-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.nav-menu {
  color: #fff;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  gap: 20px;
  margin-right: 20px;
}
.arrow {
  transition: transform 0.3s;
  margin: 0 auto 0 40px;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  list-style: none;
  margin: 5px 0 0 0;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.dropdown.open {
  max-height: 200px;
}

.dropdown li {
  margin-right: 30px;
  padding: 8px 30px;
  font-size: 16px;
  position: relative;
}

.dropdown li:last-child {
  border-bottom: none;
}
.dropdown a {
  text-decoration: none;
  color: #fff;
}
.dropdown .active::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #1de9b6;
  border-radius: 50%;
  margin-right: -10px;
}
.dropdown .active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 8px;
  height: 100%;
  background: #1de9b6;
  /* border-radius: 50%; */
  margin-right: -10px;
}
